<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<head>
<meta charset="UTF-8">
<title>団体・企業情報編集 - チャリティーライン</title>
</head>
<body>
<div layout:fragment="contents">

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/company">募集管理</a>
		</li>
		<li class="breadcrumb-item active">募集情報編集</li>
	</ol>
</nav>

<form th:action="@{/company/edit}" th:object="${company}" method="post">
	<div class="form-group row">
		<label for="name" class="col-2 col-form-label">名称</label>
		<div class="col-5">
			<input type="text" th:field="*{name}" class="form-control">
		</div>
		<div class="col-5">
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-muted"></span>
		</div>
	</div>
	<div class="form-group row">
		<label for="url" class="col-2 col-form-label">URL</label>
		<div class="col-5">
			<input type="text" th:field="*{url}" class="form-control">
		</div>
		<div class="col-5">
			<span th:if="${#fields.hasErrors('url')}" th:errors="*{url}" class="form-text text-muted"></span>
		</div>
	</div>
	<div class="form-group row">
		<label for="mail" class="col-2 col-form-label">メールアドレス</label>
		<div class="col-5">
			<input type="text" th:field="*{mail}" class="form-control">
		</div>
		<div class="col-5">
			<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="form-text text-muted"></span>
		</div>
	</div>
	<div class="form-group row">
		<label for="tel" class="col-2 col-form-label">電話番号</label>
		<div class="col-2">
			<input type="text" th:field="*{tel}" class="form-control">
		</div>
		<div class="col-8">
			<span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="form-text text-muted"></span>
		</div>
	</div>
	<div class="form-group row">
		<label for="introduction" class="col-2 col-form-label">団体・企業紹介</label>
		<div class="col-10">
			<textarea rows="5" th:field="*{introduction}" class="form-control"></textarea>
		</div>
		<div class="offset-2 col-10">
			<span th:if="${#fields.hasErrors('introduction')}" th:errors="*{introduction}" class="form-text text-muted"></span>
		</div>
	</div>
	
 	<div class="form-group row">
		<div class="offset-2 col-2">
			<input type="submit" class="btn btn-primary">
		</div>
	</div>
</form>

</div>
</body>
</html>