<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<title>募集管理 - チャリティーライン</title>
</head>
<body>
<div layout:fragment="contents">

<h2>募集管理</h2>

<div class="row mb-3">
	<div class="col">
		<a href="/company/edit" class="btn btn-primary">
			団体・企業情報編集
		</a>
	</div>
</div>

<div class="row mb-3">
	<div class="col-6">
		<table class="table">
			<tr>
				<th>名称</th>
				<td th:text="${company.name}"></td>
			</tr>
		</table>
	</div>
</div>

<div class="row mb-3">
	<div class="col">
		<a href="/company/offer/create" class="btn btn-primary">
			募集新規作成
		</a>
	</div>
</div>

<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<th>募集タイトル</th>
					<th>状態</th>
					<th>応募者数</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="offer : ${company.offers}" th:object="${offer}">
					<td th:text="*{title}"></td>
					<td>
						<span th:text="*{active} ? '募集中' : '募集終了'"></span>
					</td>
					<td>
						<span th:text="*{#lists.size(entries)}"></span>
					</td>
					<td>
						<a th:href="@{|/company/offer/*{id}|}" class="mr-2">表示</a>
						<a th:href="@{|/company/offer/*{id}/edit|}">編集</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</div>
</body>
</html>
