<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<title>応募内容 - チャリティーライン</title>
</head>
<body>
<div layout:fragment="contents">

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/person">応募管理</a>
		</li>
		<li class="breadcrumb-item active">応募内容</li>
	</ol>
</nav>

<div class="row">
	<div class="col">
		<table class="table" th:object="${entry}">
			<tr>
				<th>団体・企業</th>
				<td th:text="*{offer.company.name}"></td>
			</tr>
			<tr>
				<th>募集タイトル</th>
				<td th:text="*{offer.title}"></td>
			</tr>
			<tr>
				<th>自己PR・質問事項</th>
				<td>
					<th:block th:each="line : *{contents.split('\n')}">
						<th:block th:text="${line}" /><br>
					</th:block>
				</td>
			</tr>
		</table>
	</div>
</div>

</div>
</body>
</html>
