<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<title>アカウント作成 - チャリティーライン</title>
</head>
<body>
<div layout:fragment="contents">

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/account">アカウント一覧</a>
		</li>
		<li class="breadcrumb-item active">アカウント作成</li>
	</ol>
</nav>

<form th:action="@{/account/create}" th:object="${accountForm}" method="post">
	<input type="hidden" th:field="*{type}">
	<div class="row mb-3">
		<div class="col-2">種別</div>
		<div class="col-10" th:switch="*{type}">
			<span th:case="administrator">管理者</span>
			<span th:case="company">募集団体・企業</span>
			<span th:case="person">個人</span>
		</div>
	</div>

	<div class="form-group row">
		<label for="username" class="col-2 col-form-label">ユーザID</label>
		<div class="col-4">
			<input type="text" th:field="*{username}" class="form-control">
		</div>
		<div class="col-6">
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="form-text text-muted"></span>
		</div>
	</div>
	<div class="form-group row">
		<label for="password" class="col-2 col-form-label">パスワード</label>
		<div class="col-4">
			<input type="password" th:field="*{password}" class="form-control">
		</div>
		<div class="col-6">
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-muted"></span>
		</div>
	</div>
	<div class="form-group row">
		<div class="offset-2 col-10">
			<div class="form-check">
				<input type="checkbox" th:field="*{active}" class="form-check-input">
				<label th:for="${#ids.prev('active')}" class="form-check-label">有効</label>
			</div>
		</div>
	</div>
 	<div class="form-group row">
		<div class="offset-2 col-2">
			<input type="submit" class="btn btn-primary">
		</div>
	</div>
</form>

</div>
</body>
</html>
