<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<title>アカウント管理 - チャリティーライン</title>
</head>
<body>
<div layout:fragment="contents">

<h2>アカウント管理</h2>

<div class="row mb-3">
	<div class="col">
		<a href="/account/create?type=company" class="btn btn-primary">
			募集団体・企業アカウントを作成
		</a>
		<a href="/account/create?type=person" class="btn btn-primary">
			個人アカウントを作成
		</a>
	</div>
</div>

<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<th>ユーザID</th>
					<th>種別</th>
					<th>有効</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody th:each="account : ${accounts}" th:object="${account}">
				<tr>
					<td th:text="*{username}"></td>
					<td th:switch="*{type}">
						<span th:case="administrator">管理者</span>
						<span th:case="company">募集団体・企業</span>
						<span th:case="person">個人</span>
					</td>
					<td>
						<span th:if="*{active}">○</span>
					</td>
					<td>
						<a th:href="@{|/account/*{username}/edit|}" >編集</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</div>
</body>
</html>
